body {
  font-family: Verdana;
  font-size: 24px;
  text-align: center;
  background: linear-gradient(to right, red, yellow);
}

button {
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
